# Specify the name for the image. If you wish to push to a registry, then be sure to provide your dockerhub username
# or the URL of the registry. E.g. registry.mydomain.com:5000/satis or programster/satis.
DOCKER_IMAGE_NAME="satis"


# Specify if you wish for SSL to be enabled within the container. 0 for false, 1 for true.
# If 0 (false), then you will need to use a proxy to provide composer a TLS connection
# If 1 and you do not provide the SSL certificates, then self-signed certificates will be generated and used.
SSL_ENABLED=0


# Specify the number of seconds to wait between refresh cycles.
# If your satis.json file refers to public github repositories, and you have not provided a token, then you will
# want this number to be 60 or above, to prevent hitting the rate limit.
REFRESH_SLEEP_PERIOD=61


# Specify the name for the Docker container
CONTAINER_NAME="satis"


# Set the namespace for docker compose.
COMPOSE_PROJECT_NAME="satis"
